<h1>Add Contact Form</h1>
<form action="/" method="post">
  <label for="new-contacts">Add a new contact</label>
  <p>Name</p><input id="new-name" name="new-name" type="text"><br>
  <p>Phone</p><input id="new-phone" name="new-phone" type="text"><br>
  <p>Address</p><input id="new-adress" name="new-address" type="text"><br>
  <button type="submit">Submit</button>
</form>
